body{
	width: 1000px;
	background-color: #FF6699;
	background-image: url(dessert.jpg);
	background-position: right;
        background-repeat: repeat-y;
}
h1{
	color:#660033;
	font-family: Georgia, Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery, cursive;
	font-weight:bold;
	text-align: center;
}
h2{
	color:#FF0066;
	font-family: Georgia, Caflisch Script, Adobe Poetica, Sanvito, Ex Ponto, Snell Roundhand, Zapf-Chancery, cursive;
	font-weight:bold;
	text-align: center;
}
form{
	border: 1px solid red;
	padding:10px;
	background-color:rgba(200, 13, 120, 0.6);
}
p{
	width:400px;
	padding-left: 305px;
	text-align: left;
	vertical-align: top;
}
label.left{
	float: left;
	margin-left: -105px;
	font-weight:bold;
}
